{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
   

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<h3 class="page-title">Welcome Teacher!</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'teacher_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active">Teacher Dashboard</li>
</ul>
</div>
</div>
</div>


<div class="row">
<div class="col-xl-3 col-sm-6 col-12 d-flex">
<div class="card bg-nine w-100">
<div class="card-body">
<div class="db-widgets d-flex justify-content-between align-items-center">
<div class="db-icon">
<i class="fas fa-book-open"></i>
</div>
<div class="db-info">
<h3>10/20</h3>
<h6 class="mt-2">Total Classes</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 col-12 d-flex">
<div class="card bg-six w-100">
<div class="card-body">
<div class="db-widgets d-flex justify-content-between align-items-center">
<div class="db-icon">
<i class="fas fa-user-graduate"></i>
</div>
<div class="db-info">
<h3>40/60</h3>
<h6 class="mt-2">Total Students</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 col-12 d-flex">
<div class="card bg-ten w-100">
<div class="card-body">
<div class="db-widgets d-flex justify-content-between align-items-center">
<div class="db-icon">
<i class="fas fa-clipboard-list"></i>
</div>
<div class="db-info">
<h3>15/20</h3>
<h6 class="mt-2">Total Lessons</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 col-12 d-flex">
<div class="card bg-eleven w-100">
<div class="card-body">
<div class="db-widgets d-flex justify-content-between align-items-center">
<div class="db-icon">
<i class="fas fa-clipboard-check"></i>
</div>
<div class="db-info">
<h3>15/20</h3>
<h6 class="mt-2">Total Hours</h6>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

<footer>
<p>Copyright © 2026</p>
</footer>

</div>

</div>


<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{%static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{%static 'assets/plugins/apexchart/chart-data.js' %}"></script>

<script src="{%static 'assets/plugins/simple-calendar/jquery.simple-calendar.js' %}"></script>
<script src="{%static 'assets/js/calander.js' %}"></script>

<script src="{%static 'assets/js/circle-progress.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>
</body>

</html>

{% endblock %}
