{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Teacher Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'teacher_list' %}">Teachers</a></li>
                        <li class="breadcrumb-item active">Teacher Details</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="profile-header">
                    <div class="row align-items-center">
                        <div class="col-auto profile-image">
                            <a href="#">
                                {% if teacher.image %}
                                <img class="rounded-circle" alt="User Image" src="{{ teacher.image.url }}">
                                {% else %}
                                <img class="rounded-circle" alt="User Image"
                                    src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col ml-md-n2 profile-user-info">
                            <h4 class="user-name mb-0">{{ teacher.first_name }} {{ teacher.last_name }}</h4>
                            <h6 class="text-muted">{{ teacher.qualification }}</h6>
                            <div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{ teacher.city }}, {{
                                teacher.country }}</div>
                            <div class="about-text">{{ teacher.experience }} Experience</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>Personal Details</span>
                                    <a class="edit-link" href="{% url 'edit_teacher' teacher.teacher_id %}"><i
                                            class="far fa-edit mr-1"></i>Edit</a>
                                </h5>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">ID</p>
                                    <p class="col-sm-9">{{ teacher.teacher_id }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                    <p class="col-sm-9">{{ teacher.first_name }} {{ teacher.last_name }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                    <p class="col-sm-9">{{ teacher.date_of_birth }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                    <p class="col-sm-9">{{ teacher.email }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                    <p class="col-sm-9">{{ teacher.mobile_number }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-right mb-0">Address</p>
                                    <p class="col-sm-9 mb-0">{{ teacher.address }}<br>
                                        {{ teacher.city }},<br>
                                        {{ teacher.state }}, {{ teacher.zip_code }}, {{ teacher.country }}.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{%static 'assets/js/script.js' %}"></script>
</body>

</html>
{% endblock %}