{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Time Table</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'time_table_list' %}">Time Table</a></li>
                        <li class="breadcrumb-item active">Edit Time Table</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Class Information</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Department</label>
                                        <select class="form-control" name="department" required>
                                            <option value="">Select Department</option>
                                            {% for dept in departments %}
                                            <option value="{{ dept.pk }}" {% if time_table.department.pk==dept.pk
                                                %}selected{% endif %}>{{ dept.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <select class="form-control" name="subject" required>
                                            <option value="">Select Subject</option>
                                            {% for sub in subjects %}
                                            <option value="{{ sub.pk }}" {% if time_table.subject.pk==sub.pk
                                                %}selected{% endif %}>{{ sub.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Teacher</label>
                                        <select class="form-control" name="teacher" required>
                                            <option value="">Select Teacher</option>
                                            {% for t in teachers %}
                                            <option value="{{ t.pk }}" {% if time_table.teacher.pk==t.pk %}selected{%
                                                endif %}>{{ t.first_name }} {{ t.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Day of Week</label>
                                        <select class="form-control" name="day_of_week" required>
                                            <option value="Monday" {% if time_table.day_of_week=='Monday' %}selected{%
                                                endif %}>Monday</option>
                                            <option value="Tuesday" {% if time_table.day_of_week=='Tuesday' %}selected{%
                                                endif %}>Tuesday</option>
                                            <option value="Wednesday" {% if time_table.day_of_week=='Wednesday'
                                                %}selected{% endif %}>Wednesday</option>
                                            <option value="Thursday" {% if time_table.day_of_week=='Thursday'
                                                %}selected{% endif %}>Thursday</option>
                                            <option value="Friday" {% if time_table.day_of_week=='Friday' %}selected{%
                                                endif %}>Friday</option>
                                            <option value="Saturday" {% if time_table.day_of_week=='Saturday'
                                                %}selected{% endif %}>Saturday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <input type="time" class="form-control" name="start_time"
                                            value="{{ time_table.start_time|time:'H:i' }}" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <input type="time" class="form-control" name="end_time"
                                            value="{{ time_table.end_time|time:'H:i' }}" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{%static 'assets/js/script.js' %}"></script>
</body>

</html>
{% endblock %}